<%= render 'shared/error_messages', object: f.object %> 
<div class="control-group">
  <label for="code" class="control-label">Categoria</label>
  <div class="controls">
      <%= f.select :code, @codes.collect {|a| [a.code, a.id]} %>
  </div>
</div>
<%= f.fields_for :driver_licenses do |driver_license| %>
  <div class="control-group">
    <label for="expiration" class="control-label">Fecha Vencimiento</label>
    <div class="controls">
        <%= driver_license.date_select :expiration, class: "input-xlarge" %>
    </div>
  </div>
<% end %>
<hr>
  
