<li>
  <% if employee.status? %>
    <%= gravatar_for employee, size: 52 %>
    <%= link_to employee.name, employee %>
    <% #if current_user.admin?  %>
      | <%= link_to "eliminar", employee, method: :delete, confirm: "¿Esta seguro?" %>
      | <%= link_to "Editar", edit_employee_path(employee) %>
    <% #end %>
  <% end %>
</li>

