<%= render 'shared/error_messages', object: f.object %>

<div class="control-group">
	<label for="title" class="control-label">Estudio Medico</label>
	<div class="controls">
	    <%= f.text_area :exam, rows: 5, placeholder: "Ingrese el/los examen/es realizados", class: "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<label for="date" class="control-label">Fecha de examen</label>
	<div class="controls">
	    <%= f.date_select :date, class: "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<label for="trainer" class="control-label"> Periodico?</label>
	<div class="controls">
	    <%= f.check_box :periodical, {}, 1, 0 %>
	</div>
</div>

<hr>