<%= render 'shared/error_messages', object: f.object %> 
<hr>
<div class="control-group">
	<label for="code" class="control-label">C贸digo</label>
	<div class="controls">
	    <%= f.select :code, @special.collect { |e| [e['code'] +" - "+ e['descripcion'], e['code']] }, {include_blank: 'Seleccione una Habilitaci贸n'}, class: "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<label for="expiration" class="control-label">Fecha Vencimiento</label>
	<div class="controls">
	    <%= f.date_select :expiration, class: "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<label for="description" class="control-label">Descripci贸n</label>
	<div class="controls">
	    <%= f.text_field :description, placeholder: "Descripci贸n", class: "input-xlarge" %>
	</div>
</div>