<% provide(:title, 'Todos los Empleados') %>
<div class="page-header">
  <h1 class="pull-left">Todos los Empleados</h1>
</div>
<table id="employees" class="display" data-source="<%= employees_url(format: "json") %>">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Domicilio</th>
      <th>Tipo de Documento</th>
      <th>Numero de Documento</th>
      <th>Fecha de Creación</th>
      <th>Opciones</th>
    </tr>
  </thead>
<!- 9.3.4 Partial Render ->
  <tbody>
    <%= render @employees %>
   </tbody>
</table>
<%= will_paginate %>
