<%= render 'shared/error_messages', object: f.object %>
<h3>Licencias de Conducir</h3>
<div class="driver_licenses">
  <%= f.text_field :code, placeholder: "Categoria"  %>
  <%= f.label :expiration, 'Fecha Vencimiento'  %>
  <%= f.date_select :expiration %>
</div>
