<li>
<span class="content">categoria: <%= driver_license.code %> | <%= driver_license.description %><br /> vencimiento: <%= driver_license.expiration %></span>
    <%= link_to "Eliminar", driver_license, method: :delete,
                                     confirm: "¿Esta Seguro?",
                                     title: driver_license.code %>
</li>
