<li>
  <span class="content">categoria: <%= driver_license.code %> | vencimiento: <%= driver_license.expiration %></span>
  <span class="timestamp">
    Obtenida hace <%= time_ago_in_words(driver_license.created_at) %>
  </span>
  <% if admin_employee?(driver_license.employee) %>
    <%= link_to "Eliminar", driver_license, method: :delete,
                                     confirm: "¿Esta Seguro?",
                                     title: driver_license.code %>
  <% end %>
</li>
