<div id="confirm-modal" class="modal hide fade in">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Confirmar Baja</h3>
	</div>
	<div class="modal-body">
		<p id="question">
			Esta Seguro?
		</p>
	</div>
	<div class="modal-footer">
		<a id="delete" href="javascript:;" class="btn btn-danger" 
                   data-method="delete">Dar de Baja</a>
		<a class="btn" data-dismiss="modal" href="#">Cancelar</a>
	</div>
</div>